//* imported fonts
//pauline adobe fonts
@import url('https://use.typekit.net/xwj0kax.css');

// Bilo from adobe fonts
@import url('https://use.typekit.net/xwj0kax.css');

//! **** variables ****

// fonts & style
$fontFamTittle: pauline, sans-serif;
$fontFamBody: bilo, sans-serif;
$fontSizeTittle: 4rem;
$fontSizeSubTittle: 2rem;

//! **** mixins ****

//! **** extends ****

//! *** base ****

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7fffd4;
}

.App {
  margin-top: 3rem;
}

//* typography
.h1 {
  font-family: $fontFamTittle;
  font-size: $fontSizeTittle;
  text-align: center;
  display: inline-block;

  &__sub-tittle {
    font-size: $fontSizeSubTittle;
  }
}

// * Images
.log {
  display: inline-block;
  width: 30vw;
  &_img {
    width: 100%;
  }
}
