//* imported fonts
//pauline adobe fonts
@import url('https://use.typekit.net/xwj0kax.css');

// Bilo from adobe fonts
@import url('https://use.typekit.net/xwj0kax.css');

// font-family: scotch-display, sans-serif;
@import url('https://use.typekit.net/xwj0kax.css');

// google fonts font-family: 'Roboto Slab', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

//! **** variables ****

// fonts & style
$fontFamTittle: Roboto Slab, serif;
$fontFamBody: bilo, sans-serif;
$fontSizeTittle: 7rem;
$fontSizeSubTittle: 2.3rem;

//colors
$red: red;
$yellow: yellow;
$primaryColor: #ae0277;

//! **** extends ****
%buttons {
  display: inline-block;
  font-family: $fontFamTittle;
  font-weight: 600;
  font-size: 2rem;
  width: fit-content;
  margin: 1.8rem 2rem;
  padding: 12px 17px;
  color: $primaryColor;
  border: dashed;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

//! **** mixins ****

@mixin square($sizeWidth, $borderSize) {
  width: $sizeWidth;
  height: auto;
  border: dashed $borderSize darken($primaryColor, 20%);
}

//! ****  if else ****

//! *** loop ****

//! *** base ****

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7fffd4;
  //todo: color functions in Sass
  //* lighten
  // background: lighten($red, 30%);
  //* darken
  // background: darken($red, 30%);
  //* desaturate
  // background: desaturate($red, 25%);
  //* rgba with %
  // background-color: rgba($yellow, 20%);
  //* mix
  // background-color: mix($yellow, $red, 100%);

  overflow: hidden;
}

.App {
  // margin-top: 3rem;
  // text-align: center;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // position: relative;
}

//* typography
.h1 {
  // font-family: $fontFamTittle;
  font-size: $fontSizeTittle;
  text-align: center;
  display: inline-block;
  width: 100vw;
  font-weight: 400;
  margin-top: 0rem;
  line-height: 1.2;

  &__sub-tittle {
    font-size: $fontSizeSubTittle;
    font-family: $fontFamBody;
    letter-spacing: 2px;
    font-weight: normal;
  }
}

// * Images
.log {
  margin-inline: 2rem;
  margin-top: 1.5rem;
  display: block;
  width: 10rem;
  height: auto;

  &_img {
    width: 100%;
  }
}

.user {
  text-align: center;
  margin-top: 1rem;

  video {
    width: 42rem;
    // max-width: 55vw;
    // max-height: 50%;
  }
}
