@import url("https://use.typekit.net/xwj0kax.css");
@import url("https://use.typekit.net/xwj0kax.css");
body {
  background-color: #7fffd4;
}

.h1 {
  font-family: pauline, sans-serif;
  font-size: 4rem;
  width: fit-content;
  text-align: center;
}
.h1__sub-tittle {
  font-size: 2rem;
}
